<div class="noteList">
    <table class="table table-hover table-responsive">
        <thead>
            <th>Note Title</th>
            <th style="width: 150px;">Created</th>
            <th style="width: 150px;">Last Modified</th>
            <th></th>
        </thead>
        <tr ng-repeat="note in model.currentNotebook['notes'] | orderBy:notesOrderBy:notesReverseSort">
            <td>
                <!--<a ng-href="#/notebook/notes/{{note.id}}">{{note.name}}</a> -->
                {{note.name}}
            </td>
            <td ng-click="editNote()">{{note.created}}</td>
            <td>{{note.modified}}</td>
            <td>
                <button class="btn btn-xs" ng-click="confirmDelete(note.id, note.name)" title="Delete"><i class="icon-trash"></i></button>
                <button class="btn btn-xs" ng-click="editNote(note.id)" title="Move"><i class="icon-move"></i></button>
                <button class="btn btn-xs" ng-click="editNote(note.id)" title="Copy"><i class="icon-docs"></i></button>
                <button class="btn btn-xs" ng-click="editNote(note.id)" title="Edit"><i class="icon-edit"></i></button>
            </td>
        </tr>
    </table>
</div>
