<div id="noteEditor">
    <div>
        <form class="form" role="form" name="editorForm">
            <div class="form-group">
                <label class="sr-only" for="noteTitle">Title</label>
                <input type="text" class="form-control" id="noteTitle" placeholder="Note Title"
                    ng-model="noteTitle">
            </div>
            <div style="height: 100%">
                <label class="sr-only" for="noteBody">Note Text</label>
                <textarea class="form-control" name="noteBody" id="noteBody" rows="10" placeholder="Note Text"
                          ng-model="noteText"></textarea>
            </div>
        </form>
    </div>
</div>

